<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!-- 配置关闭缓存 -->
        <setting name="cacheEnabled" value="false"/>
        <!--- 将表字段映射成为驼峰的形式，不用写resultMap -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!-- 自动生成key -->
        <setting name="useGeneratedKeys" value="true" />
        <!-- 类似于preparedStatement可以缓存已经执行的SQL语句 -->
        <!--事务超时时间-->
        <setting name="defaultStatementTimeout" value="600"/>
    </settings>
    <typeAliases>
        <typeAlias type="com.mooc.house.common.model.User" alias="user" />
    </typeAliases>
    <mappers>
        <mapper resource="mapper/user.xml" />
    </mappers>
</configuration>